.header {
  color: rgb(5, 5, 107);
  font-size: 30px;
  font-weight: bold;
}

a {
  color: rgb(5, 5, 107);
  text-decoration: none;
  margin: 20px 20px 20px 20px;
  font-weight: bold;
}

.no-mark {
  list-style: none;
  display: flex;
  justify-content: right;
  margin-top: -60px;
}

.title-black {
  font-size: 50px;
  font-weight: lighter;
  margin-top: 300px;
}

.box-blue {
  background-color: rgb(26, 27, 134);
  width: 70vw;
  height: 20vw;
  margin-top: -50px;
}

.photo-img {
  margin: 0 0 0 auto;
  margin-top: -400px;
  display: block;
  width: 50%;
  background-position: right;
}
