.header-title {
  color: rgb(5, 5, 107);
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
}

a {
  color: rgb(5, 5, 107);
  text-decoration: none;
  font-weight: bold;
}

.no-mark {
  text-align: right;
  margin-top: -20px;
}

.no-mark li {
  font-size: 18px;
  list-style: none;
  display: inline;
  justify-content:right;
  padding: 5px 20px;
}

.title-black {
  font-size: 50px;
  margin-top: 400px;
}

.box-blue {
  background-color: rgb(5, 5, 107);
  display: inline-block;
  width: 70%;
  height: 20vh;
}

.photo-img {
  margin: -500px 0 0 auto;
  display: block;
  width: 600px;
}
